Repository dr666m1/recipe-circle-ci: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-go, run-py

fix
  .circleci/main.yml
Due: none

fix
  .circleci/go.yml
Due: none

add checkout step
  .circleci/go.yml
  .circleci/py.yml
Due: none

add when parameter
  .circleci/config.yml
  .circleci/go.yml
  .circleci/py.yml
Due: none

fix
  .circleci/go.yml
  .circleci/py.yml
Due: none

run-go-test
  go/main_test.go
Due: run-go

run-py-test
  py/test.py
Due: run-py

remove parameter config
  .circleci/config.yml
  .circleci/go.yml
  .circleci/main.yml
  .circleci/py.yml
Due: none

specify orb version
  .circleci/config.yml
Due: none

Path conditions:
  run-go: any of: go/.*
  run-py: any of: py/.*
